* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
}

:root {
    font-size: 10px;
}

.header {
    /* position: fixed; */
    width: 100%;
}

.header-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #003CD6;
}

.header-block-title,
.footer-block-title {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 41px;
    color: #FFFFFF;
}

.navigation-menu {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
}

.nav-menu__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
}

.nav-menu__link:hover,
.nav-menu__link:focus,
.nav-menu__link:active {
    text-decoration: underline;
}

.nav-menu__link-active {
    text-decoration: underline;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    /* margin-top: 100px; */
}

.wrapper-input,
.wrapper-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.wrapper-input-block,
.wrapper-result-block {
    display: flex;
    flex-direction: column;
}

.wrapper-result-block {
    justify-content: center;
}

.input-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 410px;
    min-height: 46px;
    margin: 23px 0 0px 0;
    background-color: #DCECFF;
    border: 1px solid #DCECFF;
    border-radius: 10px;
}

.input-block-wrapper-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.txt {
    font-size: 1.2rem;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.input-block-wrapper-work-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inp {
    width: 100%;
    text-align: center;
    font-size: 2.0rem;
    line-height: 23px;
    text-align: center;
    color: #000000;
    background-color: #DCECFF;
    border: 1px solid #DCECFF;
    border-radius: 10px;
}

.inp:active,
.inp:focus {
    outline: 2px solid #003CD6;
    border-radius: 7px;
}

.wrapper-line {
    width: 100%;
    border: 3px solid #003CD6;
    margin: 4% 0 4% 0;
    background-color: #003CD6;
}

.wrapper-result {
    margin-bottom: 5%;
}

.wrapper-result-block {
    width: 40%;
    min-width: 410px;
}

.result-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 46px;
    margin-bottom: 27px;
}

.result-block-wrapper-title {
    width: 70%;
    height: 100%;
}

.result-title {
    width: 100%;
    height: 100%;
    font-size: 2.0rem;
    line-height: 23px;
    color: #000000;
}

.result-block-wrapper-answer {
    width: 30%;
    height: 46px;
    color: #000000;
    background-color: #DCECFF;
    border: 1px solid #DCECFF;
    border-radius: 10px;
}

.result-block-wrapper-answer p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.0rem;
    line-height: 23px;
}

.wrapper-result-block-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 250px;
    min-height: 46px;
    background-color: #DCECFF;
    border: 1px solid #003CD6;
    border-radius: 10px;
    font-size: 2.0rem;
    line-height: 23px;
    text-align: center;
    color: #003CD6;
    cursor: pointer;
}

.wrapper-result-block-btn:hover,
.wrapper-result-block-btn:focus,
.wrapper-result-block-btn:active {
    background-color: #003CD6;
    border: 1px solid #DCECFF;
    color: #DCECFF;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #2D2D2D;
}

.footer-block {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
}